<ion-view view-title="Profile">
<ion-nav-back>
</ion-nav-back>
<ion-content ng-controller="proCtrl">
 <!-- <ion-scroll direction="xy"> -->
 
	<img src="http://hauduai.com.ng/{{prof.user_image}}" style="width:95px;height:95px;margin-left:5px;margin-top:5px;border-radius:50px;">
	<div class="abc" style="float:right;margin-right:100px;margin-top:26px;font-size:17px;color:black;font-style:italic;">
	{{prof.full_name}}<br>
	{{prof.type}}
	
  </div>
	
	
	 <h4 style="font-size:16px;"><span style="color:blue;font-size:17px;margin-left:15px;"> Registered Date : </span> {{prof.registered}}</h4><hr>
	
	  <h4 style="font-size:16px;"><span style="color:blue;font-size:17px;margin-left:15px;"> Status : </span> {{prof.status}}</h4><hr>

       <h4 style="font-size:16px;"><span style="color:blue;font-size:17px;margin-left:15px;"> E-mail ID : </span>{{prof.email}}</h4><hr>
	  
	  
			<!-- <span style="color:blue;font-size:17px;"> Type:-</span> {{prof.type}}<br><br> -->
			
			<h4 style="font-size:16px;"><span style="color:blue;font-size:17px;margin-left:15px;">Suffixes : </span> {{prof.suffix}}</h4><hr> 
			  <h4 style="font-size:16px;"><span style="color:blue;font-size:17px;margin-left:15px;">Employement Staus : </span> {{prof.employment_status}}</h4><hr>
			  <h4 style="font-size:16px;"><span style="color:blue;font-size:17px;margin-left:15px;"> Field1 : </span>  {{prof.selection_area1}}</h4><hr>
			  <h4 style="font-size:16px;"><span style="color:blue;font-size:17px;margin-left:15px;">Sub Field1 : </span>  {{prof.selection_area1_sub}}</h4><hr>
			  <h4 style="font-size:16px;"><span style="color:blue;font-size:17px;margin-left:15px;">Field2 : </span>  {{prof.selection_area2}}</h4><hr>
			  <h4 style="font-size:16px;"><span style="color:blue;font-size:17px;margin-left:15px;">Sub Field2 : </span> {{prof.selection_area2_sub}}</h4><hr>
			  <h4 style="font-size:16px;"><span style="color:blue;font-size:17px;margin-left:15px;">Proffesion Affliaton : </span> {{prof.prof_aff}}</h4><hr>
    	

			
		<!-- <span style="color:blue;font-size:17px;"> Name:-</span> {{prof.full_name}}<br><br> -->
			
			
		
	
 
<!-- </ion-scroll> -->
</ion-content>
</ion-view>
	<style>
		.mn
			{
				background:white !important;
				}
</style>