<ion-view view-title="No Answers">

	<ion-content ng-controller="stu_noansCtrl">
		<br>
		<div class="list" style="margin-top: 20px !important;
    margin-left: 2% !important;margin-bottom:33px !important;">
<div class="item " style="background-color:white !important;color:#444 !important;" ng-repeat="x in listtquee">
<a href="#/app/stu_quecom/{{x.id}}"> <img src="http://hauduai.com.ng/{{x.user_image | imageempty}}" style="  border-radius: 60px !important;
    /* width: 35%; */
    float: left !important;
    position: absolute !important;
    top: 10px !important;
    left: 10px !important;
    max-width: 40px !important;
    max-height: 40px !important;
    width: 100% !important;
    height: 100% !important;">
<div class="box1" style="    float: right !important;
    width: 42% !important;
    margin-right: 32% !important;">
<h2 style="margin-left:-10px;color:#3b5998;">{{x.user_name}}</h2><br>
<p style="text-align:justify;width:200px;margin-left:-12px;color:black;">{{x.question|htmlToPlaintext|removeHTMLTags}}</p>
</div>
</a>
<div class="box" style="float: right !important;width: 1% !important;margin-right: -35% !important;font-size:12.6px; margin-top:-15px;">
<a class="respond" href="#/app/stu_ansnoans/{{x.id}}">Provide Answer</a>
</div>
<div class="row">
<span style="margin-left:57px;font-size:14px;"><a href="#/app/stu_que_noans/{{x.id}}">View Answers</a><span></p><br><br>
			</div>
			 <div class="row">
			<p><ul class="share-buttons">
				<!--<li>
			<a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://www.example.com&p[images][0]=&p[title]=Title%20Goes%20Here&p[summary]=Description%20goes%20here!"
				target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes'); return false"><button style="width:100%; " type="button" class="btn btn-facebook btn-small" ng-click="myfacebook({{x.id}})"><i class="fa fa-facebook fa-2"></i>Share:
{{x.facebook_share}}</button>
</a>
</li>-->
  <li>
			<button style="width:100%; " type="button" class="btnnnnnn" ng-click="myfacebook({{x.id}})"><i class="fa fa-facebook fa-2"></i>:
{{x.facebook_share}}</button>
</li>&nbsp;
<li>
	<button style="width:100%; " type="button" class="btnnnnnn" ng-click="mytweet({{x.id}})"><i class="fa fa-twitter fa-2"></i>:
{{x.twitter_share}}</button>
</li>&nbsp;
<!--<li><a ng-href="http://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img class="abcc" src="img/Twitter.png" style="width:53px; height:23px;"></a></li>-->
<li>
	<button style="width:100%; " type="button" class="btnnnnnn" ng-click="mylinked({{x.id}})"><i class="fa fa-linkedin fa-2"></i>:
{{x.linkedin_share}}</button>
<!--<a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank" title="linkedin" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url='+ encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><button style="width:100%; " type="button" class="btn btn-linkedin btn-small" ng-click="mylinked({{x.id}})"><i class="fa fa-linkedin fa-2"></i>Linkedin:
{{x.linkedin_share}}</button>
</a>-->
</li>
</ul>
</p>
</div>
</div>


</div>


<ion-infinite-scroll distance="1%" ng-if="noMoreItemsAvailable" on-infinite="loadolder()" style="background-color:white !important;" >
</ion-infinite-scroll>



</ion-content>
<div class="tabs">
	<a href="#/app/student_new" class="tab-item clr" style="background:#0065ff !important;color:#fff !important;"> Recent Questions
</a>
<a href="#/app/stu_mostresponse" class="tab-item clr" style="background:#237bff !important;color:#fff !important;"> Most Responses
</a>
<a href="#/app/stu_recents" class="tab-item clr" style="background:#0a6cff !important;color:white !important;"> Recently Answered
</a>
<a href="#/app/stu_noans" class="tab-item clr" style="background:#3a89ff !important;color:white !important;"> No Answers
</a>
</div>

</ion-view>

<style>
 .bar .back-button.hide {
    display: inherit !important;
	color:white;
} 
.active{
	background-color:#0169b0;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline-block;
}

.btn-facebook {
	color: #fff;
	background-color: #3b5998;
}
.btn-facebook:hover {
	color: #fff;
	background-color: #3b5998;
}
.btn-facebook:focus {
	color: #fff;
}
.btn-twitter {
	color: #fff;
	background-color: #4C67A1;
}
.btn-twitter:hover {
	color: #fff;
	background-color: #405D9B;
}
.btn-twitter:focus {
	color: #fff;
}
.btn-linkedin {
	color: #fff;
	background-color: #287bbc;
}
.btn-linkedin:hover {
	color: #fff;
	background-color: #287bbc;
}
.btn-linkedin:focus {
	color: #fff;
}

.btn {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	}
.btn:hover {
	text-decoration: none;
}
</style>