<ion-view  hide-nav-bar='true'>
	<ion-content ng-controller="stu_forgtpasctrl">
	 <div class="itemm item-body">
    <img class="full-image" src="img/student.png">
    
  </div>
	<form  name="myForm" ng-submit="submitpass()" class="form-group"  novalidate>
	<br>
	<br>
	
		<h2 style="text-align:center;margin-top:10px;color:#0169b0;">Reset Password</h2><br>
			<br>	
			<br>	
			<br>	
			
			<input ng-value="myvalue" style="font-size:initial;height:60px;font-size:16px;width:200px;margin-left:60px;background:#0169b0;color:white;text-align:center;">
				
				<br>
				<br>
				
				<button type="submit" style="font-size:15px;height:50px;width:143px;background:#0169b0;color:white;margin-left:85px;">Send Message</button>
	  </form>
	   
	</ion-content>
</ion-view>